body{
    background-color: rgb(229, 229, 231);
}
.row{
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}

#compo {
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;

}

h2{
    text-align: center;
}

h5{
    color: rgb(193, 35, 35);
    font-weight: bold;
    
}
h6{
    font-size: 20px;
}


.divers{
    color: rgb(193, 35, 35);
    font-weight: bold;
}
.gras{
    font-weight: bold;
}

.row #theme1{
    background-color: rgb(211, 202, 202);
}

.competent{
    text-align: center;
}
#theme2{
    background-color: rgb(211, 202, 202);
    border-radius: 10px;
}