body{
    background-color: rgb(229, 229, 231);
}
.row{
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}

#compo {
    background-color: rgba(240, 240, 240, 0.802);
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}

h2{
    text-align: center;
}

h5{
    color: rgb(193, 35, 35);
    font-weight: bold;
    
}
h6{
    font-size: 20px;
}


.divers{
    color: rgb(193, 35, 35);
    font-weight: bold;
}
.gras{
    font-weight: bold;
}

.col-md-4{
    border-right: solid 1px;
}